.hero {
    grid-column: c1-end / g8-start;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.button-with-text {
    grid-column: g8-start / m2-start;
    background-color: lightgreen;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

/*
@media screen and (max-width: 37.5rem) {
    .hero {
        grid-column: 2 / 6;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .schedule-button {
        grid-column: 6 / 9;
    }
}

@media screen and (min-width: 37.5rem) {
    .hero {
        grid-column: 1 / 9;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }

    .schedule-button {
        grid-column: 9 / 13;
    }
} */



/* | Screen Size    | Margin | Body   | Columns |
    Extra-Small (Phone)
   | 0 - 599 px     | 16 px  | Scl    | 4       |
   
   Small (tablet)
   | 600 - 904 px   | 32 px  | Scl    | 8       |
   | 905 - 1239 px  | Scl    | 840 px | 12      |
   
   Medium (laptop)
   | 1240 - 1439 px | 200 px | Scl    | 12      |
   
   Large (desktop)
   | 1440+          | Scl    | 1040   | 12      |
*/