.hero {
    grid-column: m1-end / g3-start;
}

img {
    max-width: 100%;
    object-fit: contain;
    /* TODO: I think there should be a floating schedule button when screen is so small */
}

.button-with-text {
    grid-column: g3-start / m2-start;
    background-color: lightgreen;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.header {
    grid-column: m1-end / g4-start;
}

@media screen and (min-width: 37.5rem) {
    .hero {
        grid-column-end: g6-start;
    }

    .button-with-text {
        grid-column-start: g6-start;
    }
}

/* screen >= 905 */
@media screen and (min-width: 56.5625rem) {
    .hero {
        grid-column-end: g8-start;
    }

    .button-with-text {
        grid-column-start: g8-start;
    }
}

.full-length {
    grid-column: m1-end / m2-start;
}



/* | Screen Size    | Margin | Body   | Columns |
    Extra-Small (Phone)
   | 0 - 599 px     | 16 px  | Scl    | 4       |
   
   Small (tablet)
   | 600 - 904 px   | 32 px  | Scl    | 8       |
   | 905 - 1239 px  | Scl    | 840 px | 12      |
   
   Medium (laptop)
   | 1240 - 1439 px | 200 px | Scl    | 12      |
   
   Large (desktop)
   | 1440+          | Scl    | 1040   | 12      |
*/