:root {
    --fluid-area: 2rem;
    --margin: 1px;
    --gutter-x: 1rem;
    --column-count: 3;
    --m: var(--margin);
    --g: var(--gutter-x);
    --c: 1fr;
    --container-grid-template: 
        var(--fluid-area) 
        max(
            var(--m),
            env(safe-area-inset-left)
        )
        var(--c)
        repeat(var(--column-count), var(--g) var(--c)) 
        max(
            var(--m),
            env(safe-area-inset-right)
        ) 
        var(--fluid-area);
    --grid-template-areas: "fm1 m1 c1 g1 c2 g2 c3 g3 c4 m2 fm2";
}

.grid {
    display: grid;
    grid-template-columns: var(--container-grid-template);
    grid-template-areas: var(--grid-template-areas);
}

/* screen >= 600px */
@media screen and (min-width: 37.5rem) {
    :root {
        --column-count: 7;
        --fluid-area: 4rem;
        --grid-template-areas: "fm1 m1 c1 g1 c2 g2 c3 g3 c4 g4 c5 g5 c6 g6 c7 g7 c8 m2 fm2";
    }
}

/* screen >= 905 */
@media screen and (min-width: 56.5625rem) {
    :root {
        --column-count: 11;
        --container-width: 52.5rem; /* 840px */
        --fluid-area: calc(50vw - var(--container-width) / 2);
        --grid-template-areas: "fm1 m1 c1 g1 c2 g2 c3 g3 c4 g4 c5 g5 c6 g6 c7 g7 c8 g8 c9 g9 c10 g10 c11 g11 c12 m2 fm2";
    }
}

/* screen >= 1240px */
@media screen and (min-width: 77.5rem) {
    :root {
        --fluid-area: 12.5rem; /* 200px */
    }
}

/* screen >= 1440px */
@media screen and (min-width: 90rem) {
    :root {
        --container-width: 65rem; /* 1040px */
        --fluid-area: calc(50vw - var(--container-width) / 2);
    }
} 


/* | Screen Size    | Margin | Body   | Columns |
    Extra-Small (Phone)
   | 0 - 599 px     | 16 px  | Scl    | 4       |
   
   Small (tablet)
   | 600 - 904 px   | 32 px  | Scl    | 8       |
   | 905 - 1239 px  | Scl    | 840 px | 12      |
   
   Medium (laptop)
   | 1240 - 1439 px | 200 px | Scl    | 12      |
   
   Large (desktop)
   | 1440+          | Scl    | 1040   | 12      |
*/